@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --red: #FF7979;
  --green: #38CC8B;
  --lilac: #BAB7D4;
  --blue: #5E54A4;
  --white: #FFF;
  --dark-gray: #3D3B48;
  --light-gray: #DEDEDE;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url("./images/bg-intro-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--red);
  color: var(--white);

}

main {
  width: 87vw;
  margin: 88px auto 68px;
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
}

.description {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin: 16px 0 64px;
}

.promo {
  height: 88px;
  background: var(--blue);
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.14688);
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 24px;
}

.promo p {
  width: 60%;
  font-size: 15px;
  line-height: 26px;
}

.promo strong {
  font-weight: 700;
}

.form {
  background-color: var(--white);
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

input, button {
  width: 100%;
  height: 56px;
  border-radius: 5px;
}

input {
  font: 600 14px/26px 'Poppins', sans-serif;
  text-align: left;
  color: var(--dark-gray);

  border: 1px solid var(--light-gray);
  padding-left: 20px;
}

input:focus {
  border-color: var(--blue);
}

input::placeholder {
  font: 600 14px/26px 'Poppins', sans-serif;
  color: var(--dark-gray);
  opacity: 0.75
}

.fail input {
  border: 2px solid var(--red);
  color: var(--red)
}

.fail input::placeholder {
  opacity: 0;
}

.success input {
  border: 2px solid var(--green);
  color: var(--green)
}

.err, ion-icon {
  display: none;
}

.fail {
  position: relative;
}

.fail .err {
  display: block;
  font-weight: 500;
  font-size: 11px;
  font-style: italic;
  line-height: 16px;
  text-align: right;
  margin-top: 6px;
  color: var(--red);
}

.fail ion-icon {
  display: block;
  color: var(--red);
  font-size: 30px;
  position: absolute;
  top: 13px;
  right: 17px;
}

button {
  background-color: var(--green);
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.0908818);

  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 1px;
}

.terms {
  font-weight: 500;
  font-size: 11px;
  line-height: 21px;

  text-align: center;

  color: var(--lilac);
}

.terms a {
  font-weight: 700;
  color: var(--red);
}


@media (min-width: 1100px) {
  body {
    min-height: 100vh;
    background-image: url("./images/bg-intro-desktop.png");

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .containter {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    width: 1110px;
    margin: 0;
    text-align: left;

    display: grid;
    grid-template-columns: 525px 540px;
    grid-template-areas:
      ". promo"
      "title form"
      "description form";
    gap: 24px 45px;
  }

  h1 {
    grid-area: title;
    align-self: end;
    font-size: 50px;
    line-height: 55px;
  }

  .description {
    grid-area: description;
    margin: 0;
  }

  .promo {
    grid-area: promo;
    height: 60px;
    text-align: center;
    margin-bottom: 0;

  }

  .promo p {
    width: 60%;
  }

  .form {
    grid-area: form;
    padding: 40px;
    gap: 20px;
  }

  input {
    padding-left: 32px;
  }

  button {
    text-align: center;
  }

  .terms {
    line-height: 26px
  }

}